<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Search</h1>
    <form action="search">
        <label for="query_id"/>Search For</label>
        <input type="text" name="query" id="query_id"/><br><br>         
        
        <label for="num_id"/>Number of Tweets</label>
        <input type="numeric" name="num" id="mum_id"/><br><br>         
        
        <button type = "submit">Search</button>
        <button type="submit" formaction="previous">Previous Searches</button>

</body>
</html>